h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.img-thumbnail{
border-radius: 50%;
}
#left{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
#mainbox{
    background-color:rgb(173, 173, 173);
    padding: 30px;
}
#right{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
#lastbutton{
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}